In [1]:
import pandas as pd
import numpy as np

In [6]:
import sys
import os

# Add backend to Python path
sys.path.append(os.path.abspath(".."))

from backend.app.features.feature_engineering import generate_features

In [2]:
np.random.seed(42)

n = 5000

df = pd.DataFrame({
    "transaction_id": range(n),
    "user_id": np.random.randint(1, 500, n),
    "amount": np.random.exponential(scale=2000, size=n),
    "timestamp": pd.date_range("2024-01-01", periods=n, freq="min"),
    "device_id": np.random.randint(1, 300, n),
    "location": np.random.randint(1, 50, n),
})

df.to_csv("../data/raw/transactions.csv", index=False)
df.head()

,transaction_id,user_id,amount,timestamp,device_id,location
0,0,103,1850.123652,2024-01-01 00:00:00,125,30
1,1,436,885.754857,2024-01-01 00:01:00,59,8
2,2,349,2087.211237,2024-01-01 00:02:00,97,31
3,3,271,262.315689,2024-01-01 00:03:00,275,48
4,4,107,4390.316871,2024-01-01 00:04:00,149,47

In [7]:
df = generate_features(df)

In [8]:
df["is_fraud"] = (
    (df["amount_deviation"] > 3) |
    (df["time_since_last_txn"] < 10)
).astype(int)